// symbol control //
/* nav title hover color */
.nav-title {
  transition: color 0.3s ease;
}

.nav-title:hover {
  color: var(--hover-color);
}

/* nav icon hover tint (by hue rotation) */
.nav-icon {
  transition: filter 0.3s ease;
}

.nav-icon:hover {
  filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(var(--hover-hue)) !important;
}
